

.card-body{
  background-color: #194164;
  color: #ededed!important;
}

.card-header{
  background-color:   #194164!important;
  color: #ffffff!important;
}

.card-body{
  color: #ededed!important;
}

.card-footer{
  background-color: #194164!important;
  color: #ffffff!important;
}

.table_table-sm{
  background-color: #194164!important;
  color: #ffffff!important;
}

.navbar{
  background-color: #194164!important;
  color: #f7f1f1!important;
}

.table{
  background-color: #194164!important;
  color: #ffffff!important;
}

.navbar-brand{
  color: #ffffff!important;
}

.nav-link{
  color: #ffffff!important;

}